aside {
    background-color: antiquewhite;
}

body {
    background-color: gray;
}

header {
    background-color: gray;
    text-align: center;
    border-radius: 6rem;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    
    
}

.trevor-profile-pic {
    margin-top: 10px;
    width: 10rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-bottom: -2rem;
}

.sidebar {
    flex-basis: 16rem;
    flex-grow: 1;
    background-color: #454545;
    text-align: center;
}

.not-sidebar h1{
    
    font-family: "Bebas Neue", sans-serif;
    
}



.not-sidebar p {
    
    font-family: "Orbitron", sans-serif;
}

@font-face {
  font-family: pricedown;
  src: url(pricedown.ttf); 
}

.sidebar p {
    font-size: 40px;
    
    text-align: center;
    margin-bottom: -3rem;
    color:white;
    font-family: 'pricedown', sans-serif;
}


.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    background-color: rgb(190, 190, 190);

}

.not-sidebar-content {
    text-align: left;
    margin-left: 2rem;
    margin-top: 5rem;
    
}

.not-sidebar-content p {
    font-style: italic;
}

.not-sidebar-content h3 {
    text-decoration: underline;
}





.wrapper {
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
    

}