aside {
    background-color: antiquewhite;
}

body {
    background-color: gray;
}

header {
    background-color: gray;
    text-align: center;
    border-radius: 6rem;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    
    
}

.trevor-profile-pic {
    margin-top: 10px;
    width: 10rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    margin-bottom: -2rem;
}

.sidebar {
    flex-basis: 16rem;
    flex-grow: 1;
    background-color: #454545;
    text-align: center;
    
}

.not-sidebar h1{
    
    font-family: "Bebas Neue", sans-serif;
    
}



.not-sidebar p {
    font-family: "Montserrat", sans-serif;

}

@font-face {
  font-family: pricedown;
  src: url(pricedown.ttf); 
}

.name-info p {
    font-size: 40px;
    
    text-align: center;
    margin-bottom: -3rem;
    color:whitesmoke;
    font-family: 'pricedown', sans-serif;
}


.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    background-color: rgb(190, 190, 190);

}

.not-sidebar-content {
    text-align: left;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}



.not-sidebar-content h3 {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    text-decoration: underline;
}


.contact-info {
    
    font-style: italic;


}

.personal-information {
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    margin-left: 2rem;
    margin-top: 10rem;
    text-align: start;

}

.personal-title {
    font-size: 16px;
    text-decoration: underline;
    
}

.sidebar-description {
    font-size: 13px;
    
}

.experience-title {
    margin-top: 2rem;
    font-style: italic;
}

.experience-description {
    font-size: 13px;
    
}

.experience-info {
    font-size: 15px;
}

.wrapper {
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
    

}


.about {
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 5rem;
    
    border-width: 2rem;
    border-color: white;
    border-style: solid;
    background-color: white;
}

.about h3 {
    text-align: center;
    font-family: "Zalando Sans SemiExpanded", sans-serif;

}

.about p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: start;
}

.about a {
    text-align: center;
    margin-left: 2rem;

}

.about img {
    width: 10rem;
    margin-left: 40rem;
    margin-top: -10rem;
}